.header{
    width: 100vw;
    height: 75px;

    background-color: whitesmoke;

    display: flex;
    justify-content: center;

    .content{

        display: flex;
        justify-content: space-between;

        .logo{
            height: 100%;
            width: 250px;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            
            img{
                height: 90%;
            }

            .escrita-logo{
                display: flex;
                flex-direction: column;
                .title{
                    display: flex;
                    font-family: 'Montserrat', sans-serif;

                    h1{
                        color: #f38a00;
                    }
                    
                    h1:nth-child(2){
                        color: #0a0c7a;
                    }
                }

                .subtitle{
                    p{
                        font-family: 'Poppins', sans-serif;
                        text-align: center;
                        color: #0a0c7a;

                    }
                }
            }

            
        }

        .botoes{

            display: flex;
            justify-content: center;
            align-items: center;

            font-family: 'Poppins', sans-serif;


            a{
                height: 100%;
                width: 200px;
        
                background-color: whitesmoke;
                color: rgb(30, 30, 160);
                border-left: 3px solid rgb(30, 30, 160);
                
                display: flex;
                justify-content: center;
                align-items: center;
        
                text-decoration: none;
                text-transform: uppercase;
            }
        
            a:hover{
                background-color: rgb(30, 30, 160);
                color: white;
            }
        }
    }
}