<div class="header">
    <div class="content">
        <div class="logo" (click)="banner()">
            <img src="../../assets/PSLogo.png" alt="Logo FlashFibra">
            <div class="escrita-logo">
                <div class="title">
                    <h1>Flash</h1>
                    <h1>Fibra</h1>
                </div>
                <div class="subtitle">
                    <p>fibra óptica & wi-fi</p>
                </div>
            </div>
        </div>

        <div class="botoes">
            <a href="/home">Início</a>
            <a href="/empresa">Empresa</a>
            <a href="/contato">Contato</a>
        </div>
    </div>
</div>