<div class="container">
    <div class="content">
        <div class="line"></div>
        <div class="banner">
            <div class="texto">
                <br>
                <br>
                <h1>Baixe o aplicativo do SAC e acesse também em seu smartphone</h1>
                <br>
                <p>Aponte o leitor de QR-Code de seu smartphone para baixar o aplicativo do SAC e acessar direto em seu celular.</p>
                <br>
                <ul>
                    <li>Comodidade</li>
                    <li>Transparência</li>
                    <li>Interatividade</li>
                </ul>
            </div>
            <div class="qrcode"></div>
        </div>
        <div class="line"></div>

    </div>
</div>